In [1]:
import numpy
import pandas

In [3]:
passing_data = pandas.read_csv("./2020_Problem_D_DATA/passingevents.csv")

In [10]:
passing_data.head()

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0

In [20]:
pure_passing_data = passing_data.loc[:, ['TeamID', 'OriginPlayerID', 'DestinationPlayerID']]
ppd = pure_passing_data

In [23]:
ppd = ppd[ppd['TeamID'].isin(['Huskies'])].loc[:, ['OriginPlayerID', 'DestinationPlayerID']]
ppd

      OriginPlayerID DestinationPlayerID
0         Huskies_D1          Huskies_F1
1         Huskies_M1          Huskies_F2
4         Huskies_M2          Huskies_M3
8         Huskies_D1          Huskies_F1
11        Huskies_D1          Huskies_G1
...              ...                 ...
23405     Huskies_D4          Huskies_F6
23406     Huskies_F6          Huskies_M2
23407     Huskies_M2          Huskies_M1
23408     Huskies_M1          Huskies_F4
23409     Huskies_F4          Huskies_M2

[10435 rows x 2 columns]

In [45]:
ppd['count'] = 1

In [69]:
ppd = ppd.groupby(['OriginPlayerID', 'DestinationPlayerID']).sum()

In [94]:
# ppd[ppd['count'] > 2 & ppd['OriginPlayerID'].isin(['Huskies'])]
ppd = ppd.sort_values(by='count').ix[::-1]

In [95]:
ppd

                                    count
OriginPlayerID DestinationPlayerID
Huskies_M1     Huskies_F2             182
Huskies_M3     Huskies_M1             168
Huskies_M1     Huskies_M3             143
Huskies_D3     Huskies_G1             120
Huskies_F2     Huskies_M1             117
...                                   ...
Huskies_F5     Huskies_F5               1
Huskies_D3     Huskies_M10              1
Huskies_F5     Huskies_D6               1
               Huskies_D3               1
Huskies_M10    Huskies_M11              1

[656 rows x 1 columns]

In [165]:
d0 = ppd.copy()
d0 = pandas.DataFrame({'i': list(map(lambda x: x[0], d0.index)), 'j': list(map(lambda x: x[1], d0.index)), 'count':d0.to_numpy().T[0]})
d1 = d0.copy()
d2 = d0.copy()

In [170]:
d1 = d1.rename(columns={'i':'j', "j":'k'})
d2 = d2.rename(columns={'i':'k', "j":'i'})

In [173]:
pd = pandas

In [179]:
merged_data = pd.merge(pd.merge(d0, d1, on='j'), d2, on='k')
merged_data

,i_x,j,count_x,k,count_y,i_y,count
0,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_F2,182
1,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_M3,143
2,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D1,85
3,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D4,79
4,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D5,79
...,...,...,...,...,...,...,...
358574,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_M1,3
358575,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_M4,2
358576,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F6,2
358577,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_D1,1
358578,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F5,1

In [181]:
merged_data = merged_data.loc[merged_data['i_x']==merged_data['i_y']]

In [183]:
md = merged_data

In [185]:
md['total'] = md['count_x'] + md['count_y'] + md['count']

In [186]:
md

,i_x,j,count_x,k,count_y,i_y,count,total
23,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_M1,7,306
34,Huskies_D5,Huskies_F2,97,Huskies_M1,117,Huskies_D5,79,293
63,Huskies_D4,Huskies_F2,66,Huskies_M1,117,Huskies_D4,79,262
91,Huskies_M3,Huskies_F2,63,Huskies_M1,117,Huskies_M3,143,323
128,Huskies_D2,Huskies_F2,56,Huskies_M1,117,Huskies_D2,63,236
...,...,...,...,...,...,...,...,...
358439,Huskies_M1,Huskies_F5,13,Huskies_D10,1,Huskies_M1,3,17
358447,Huskies_M3,Huskies_F5,12,Huskies_D10,1,Huskies_M3,5,18
358455,Huskies_G1,Huskies_F5,8,Huskies_D10,1,Huskies_G1,6,15
358485,Huskies_M4,Huskies_F5,6,Huskies_D10,1,Huskies_M4,2,9
358578,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F5,1,3

In [191]:
md.sort_values(by='total').ix[::-1].head(20)

,i_x,j,count_x,k,count_y,i_y,count,total
317285,Huskies_M3,Huskies_M1,168,Huskies_F2,182,Huskies_M3,58,408
68417,Huskies_M1,Huskies_F2,182,Huskies_M3,58,Huskies_M1,168,408
1830,Huskies_F2,Huskies_M3,58,Huskies_M1,168,Huskies_F2,182,408
5640,Huskies_F2,Huskies_D5,84,Huskies_M1,75,Huskies_F2,182,341
19681,Huskies_M1,Huskies_F2,182,Huskies_D5,84,Huskies_M1,75,341
317363,Huskies_D5,Huskies_M1,75,Huskies_F2,182,Huskies_D5,84,341
4200,Huskies_F2,Huskies_D1,55,Huskies_M1,92,Huskies_F2,182,329
317341,Huskies_D1,Huskies_M1,92,Huskies_F2,182,Huskies_D1,55,329
103394,Huskies_M1,Huskies_F2,182,Huskies_D1,55,Huskies_M1,92,329
318091,Huskies_M1,Huskies_M3,143,Huskies_F2,63,Huskies_M1,117,323
91,Huskies_M3,Huskies_F2,63,Huskies_M1,117,Huskies_M3,143,323
69233,Huskies_F2,Huskies_M1,117,Huskies_M3,143,Huskies_F2,63,323
1763,Huskies_M1,Huskies_M3,143,Huskies_M1,168,Huskies_M1,7,318
841,Huskies_M3,Huskies_M1,168,Huskies_M1,7,Huskies_M3,143,318
69761,Huskies_M1,Huskies_M1,7,Huskies_M3,143,Huskies_M1,168,318
20438,Huskies_M3,Huskies_M1,168,Huskies_D5,79,Huskies_M3,69,316
1774,Huskies_D5,Huskies_M3,69,Huskies_M1,168,Huskies_D5,79,316
72953,Huskies_M1,Huskies_D5,79,Huskies_M3,69,Huskies_M1,168,316
37282,Huskies_M3,Huskies_M1,168,Huskies_D4,79,Huskies_M3,63,310
72225,Huskies_M1,Huskies_D4,79,Huskies_M3,63,Huskies_M1,168,310

In [207]:
len(set(d0.i))

30

In [208]:
from itertools import permutations

players = list(set(d0.i))
triple = list(permutations(players,len(players)))

KeyboardInterrupt:

In [ ]:
triple