In [1]:
import numpy
import pandas
pd = pandas

In [2]:
passing_data = pandas.read_csv("./2020_Problem_D_DATA/passingevents.csv")

In [3]:
passing_data.head()

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0

# Centroid coordinates and dispersion

## long

In [34]:
passing_data

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...
23424,38,Opponent14,Opponent14_M3,Opponent14_D1,2H,2758.973892,Simple pass,57,56,65.0,63.0
23425,38,Opponent14,Opponent14_D1,Opponent14_D6,2H,2760.286946,Simple pass,65,63,61.0,96.0
23426,38,Opponent14,Opponent14_D6,Opponent14_M4,2H,2763.698599,Simple pass,61,96,40.0,85.0
23427,38,Opponent14,Opponent14_M4,Opponent14_M2,2H,2783.137836,Simple pass,59,70,53.0,89.0
23428,38,Opponent14,Opponent14_M2,Opponent14_F1,2H,2785.702032,High pass,53,89,99.0,72.0

In [43]:
ppd = passing_data.loc[:, ['TeamID', 'OriginPlayerID', 'EventOrigin_x', 'EventOrigin_y']]
ppd = ppd[ppd['TeamID'].isin(['Huskies'])]

In [44]:
X_mean, Y_mean = ppd[['EventOrigin_x', 'EventOrigin_y']].mean()

In [61]:
pomd = ppd.groupby('OriginPlayerID').mean()

In [67]:
pomd['distance'] = [((x - X_mean)**2 + (y - Y_mean)**2)**0.5 for x,y in zip(pomd['EventOrigin_x'],pomd['EventOrigin_y'])]

In [68]:
pomd

                EventOrigin_x  EventOrigin_y   distance
OriginPlayerID
Huskies_D1          34.297297      54.083431  13.485088
Huskies_D10         37.184211      21.973684  29.489998
Huskies_D2          34.743103      45.163793  13.154692
Huskies_D3          35.467675      51.566713  11.742218
Huskies_D4          50.718805      12.525483  37.410368
Huskies_D5          48.324800      34.862400  14.947839
Huskies_D6          39.319876      75.639752  27.017638
Huskies_D7          51.115196      82.735294  33.225057
Huskies_D8          51.996198      86.798479  37.367211
Huskies_D9          35.596491      30.596491  22.333298
Huskies_F1          65.869748      48.193277  18.865036
Huskies_F2          53.721769      48.187427   6.834867
Huskies_F3          60.357143      55.017857  14.290865
Huskies_F4          69.504000      49.144000  22.442716
Huskies_F5          66.493671      42.183544  20.848403
Huskies_F6          62.457399      69.757848  25.234859
Huskies_G1          12.177590      48.312896  34.921969
Huskies_M1          49.717928      52.617530   3.897862
Huskies_M10         59.638889      52.111111  12.787689
Huskies_M11         50.538462      53.646154   5.211001
Huskies_M12         63.380597      28.104478  27.108995
Huskies_M13         53.337838      52.648649   6.902823
Huskies_M2          53.894737      47.302632   7.253115
Huskies_M3          46.703495      46.395716   3.381619
Huskies_M4          55.235412      55.832998  10.177997
Huskies_M5          58.452381      42.880952  13.298585
Huskies_M6          57.568898      35.129921  18.005511
Huskies_M7          48.318182      56.545455   6.901868
Huskies_M8          58.875912      72.583942  25.698950
Huskies_M9          63.053846      57.869231  17.924700

In [70]:
pomd.std()

EventOrigin_x    12.439368
EventOrigin_y    16.459132
distance         10.178255
dtype: float64

# Clustering coefficient

## long

In [71]:
pure_passing_data = passing_data.loc[:, ['TeamID', 'OriginPlayerID', 'DestinationPlayerID']]
ppd = pure_passing_data

In [72]:
ppd = ppd[ppd['TeamID'].isin(['Huskies'])]

In [73]:
ppd['count'] = 1
ppd = ppd.groupby(['OriginPlayerID', 'DestinationPlayerID']).sum()

In [74]:
ppd

                                    count
OriginPlayerID DestinationPlayerID
Huskies_D1     Huskies_D1               2
               Huskies_D10              2
               Huskies_D2              59
               Huskies_D3             105
               Huskies_D4              73
...                                   ...
Huskies_M9     Huskies_M13              5
               Huskies_M3               8
               Huskies_M4               6
               Huskies_M6              15
               Huskies_M8               2

[656 rows x 1 columns]

In [75]:
ppd = ppd.sort_values(by='count').ix[::-1]

In [76]:
ppd

                                    count
OriginPlayerID DestinationPlayerID
Huskies_M1     Huskies_F2             182
Huskies_M3     Huskies_M1             168
Huskies_M1     Huskies_M3             143
Huskies_D3     Huskies_G1             120
Huskies_F2     Huskies_M1             117
...                                   ...
Huskies_F5     Huskies_F5               1
Huskies_D3     Huskies_M10              1
Huskies_F5     Huskies_D6               1
               Huskies_D3               1
Huskies_M10    Huskies_M11              1

[656 rows x 1 columns]

In [77]:
d0 = ppd.copy()
d0 = pandas.DataFrame({'i': list(map(lambda x: x[0], d0.index)), 'j': list(map(lambda x: x[1], d0.index)), 'count':d0.to_numpy().T[0]})
d1 = d0.copy()
d2 = d0.copy()

In [78]:
d1 = d1.rename(columns={'i':'j', "j":'k'})
d2 = d2.rename(columns={'i':'k', "j":'i'})

In [79]:
d1

               j            k  count
0     Huskies_M1   Huskies_F2    182
1     Huskies_M3   Huskies_M1    168
2     Huskies_M1   Huskies_M3    143
3     Huskies_D3   Huskies_G1    120
4     Huskies_F2   Huskies_M1    117
..           ...          ...    ...
651   Huskies_F5   Huskies_F5      1
652   Huskies_D3  Huskies_M10      1
653   Huskies_F5   Huskies_D6      1
654   Huskies_F5   Huskies_D3      1
655  Huskies_M10  Huskies_M11      1

[656 rows x 3 columns]

In [98]:
merged_data = pd.merge(pd.merge(d0, d1, on='j'), d2, on=['k', 'i'])
md = merged_data
md

                 i            j  count_x           k  count_y  count
0       Huskies_M1   Huskies_F2      182  Huskies_M1      117      7
1       Huskies_M1   Huskies_M1        7  Huskies_M1        7      7
2       Huskies_M1   Huskies_M3      143  Huskies_M1      168      7
3       Huskies_M1   Huskies_G1       20  Huskies_M1       24      7
4       Huskies_M1   Huskies_D3       60  Huskies_M1       47      7
...            ...          ...      ...         ...      ...    ...
12553  Huskies_M10   Huskies_D7        9  Huskies_M1       49      8
12554  Huskies_M10   Huskies_D6        1  Huskies_M1       32      8
12555  Huskies_M10   Huskies_F4        3  Huskies_M1       15      8
12556  Huskies_M10   Huskies_M9        1  Huskies_M1       11      8
12557  Huskies_M10  Huskies_M11        1  Huskies_M1        5      8

[12558 rows x 6 columns]

In [99]:
md = md.rename(columns={'count_x':'wij', 'count_y':'wjk', 'count':'wki'})

In [100]:
md

                 i            j  wij           k  wjk  wki
0       Huskies_M1   Huskies_F2  182  Huskies_M1  117    7
1       Huskies_M1   Huskies_M1    7  Huskies_M1    7    7
2       Huskies_M1   Huskies_M3  143  Huskies_M1  168    7
3       Huskies_M1   Huskies_G1   20  Huskies_M1   24    7
4       Huskies_M1   Huskies_D3   60  Huskies_M1   47    7
...            ...          ...  ...         ...  ...  ...
12553  Huskies_M10   Huskies_D7    9  Huskies_M1   49    8
12554  Huskies_M10   Huskies_D6    1  Huskies_M1   32    8
12555  Huskies_M10   Huskies_F4    3  Huskies_M1   15    8
12556  Huskies_M10   Huskies_M9    1  Huskies_M1   11    8
12557  Huskies_M10  Huskies_M11    1  Huskies_M1    5    8

[12558 rows x 6 columns]

In [101]:
md['www'] = [(wij * wjk * wki) for wij, wjk, wki in zip(md['wij'], md['wjk'], md['wki'])]
md['ww'] = [(wij * wki) for wij, wki in zip(md['wij'], md['wki'])]

In [105]:
md = md.groupby('i').sum()

In [107]:
md['Clustering coefficient'] = [www/ww for www,ww in zip(md['www'], md['ww'])]
md = md.sort_values(by='Clustering coefficient').ix[::-1]
md

               wij    wjk    wki       www       ww  Clustering coefficient
i
Huskies_D10    296   2661    261     49529     1130               43.830973
Huskies_M7     153   2363    161     16680      395               42.227848
Huskies_M2    1156   6631   1117    201397     5009               40.207027
Huskies_D2   13594   9749  11609  10344601   258486               40.019966
Huskies_D9     549   4138    472     87852     2197               39.987255
Huskies_F3     966   7333   1102    155451     3937               39.484633
Huskies_D5   15519   9727  14191  13362385   344961               38.735930
Huskies_M3   21295   8753  17700  22852413   603285               37.879962
Huskies_D4   12872   8858  13382  12399560   328335               37.764966
Huskies_D1   20721  10054  17166  19935940   544220               36.632134
Huskies_D6    7215   9293   7878   3579433   100050               35.776442
Huskies_M4   12229  10265  12867   8622308   244368               35.284112
Huskies_D3   17428  10051  14413  13934402   395530               35.229697
Huskies_M6   12406  10268  13533   8955888   258369               34.663168
Huskies_M11   1109   7463    904    108958     3153               34.556930
Huskies_F2   21381  10268  22739  25973762   758028               34.264911
Huskies_M8    2370   7937   3558    812564    23740               34.227633
Huskies_M12   2572   8334   3844    919755    27058               33.991980
Huskies_M10    487   4710    546     45890     1410               32.546099
Huskies_F1    5965   9805  10895   3433054   105624               32.502594
Huskies_M1   32387  10435  26521  37383435  1194362               31.299920
Huskies_G1    8467   8453  11456   6859976   219725               31.220735
Huskies_D8    5130   8225   5439   2212930    71271               31.049515
Huskies_M5     568   5352    596     51841     1681               30.839381
Huskies_M9    2849   9065   2746    535122    17425               30.710014
Huskies_M13   1211   6265    927    122134     4052               30.141658
Huskies_F4    2948   7506   5371    994924    33494               29.704544
Huskies_D7    9491   9585   9948   4948794   170511               29.023312
Huskies_F6    4511   8373   5448   1746362    60994               28.631701
Huskies_F5    3366   9291   4421    897653    32819               27.351626