In [1]:
import numpy
import pandas

In [2]:
passing_data = pandas.read_csv("./2020_Problem_D_DATA/passingevents.csv")

In [3]:
passing_data.head()

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0

In [4]:
pure_passing_data = passing_data.loc[:, ['TeamID', 'OriginPlayerID', 'DestinationPlayerID']]
ppd = pure_passing_data

In [5]:
ppd = ppd[ppd['TeamID'].isin(['Huskies'])].loc[:, ['OriginPlayerID', 'DestinationPlayerID']]
ppd

      OriginPlayerID DestinationPlayerID
0         Huskies_D1          Huskies_F1
1         Huskies_M1          Huskies_F2
4         Huskies_M2          Huskies_M3
8         Huskies_D1          Huskies_F1
11        Huskies_D1          Huskies_G1
...              ...                 ...
23405     Huskies_D4          Huskies_F6
23406     Huskies_F6          Huskies_M2
23407     Huskies_M2          Huskies_M1
23408     Huskies_M1          Huskies_F4
23409     Huskies_F4          Huskies_M2

[10435 rows x 2 columns]

In [6]:
ppd['count'] = 1

In [7]:
ppd = ppd.groupby(['OriginPlayerID', 'DestinationPlayerID']).sum()

In [8]:
# ppd[ppd['count'] > 2 & ppd['OriginPlayerID'].isin(['Huskies'])]
ppd = ppd.sort_values(by='count').ix[::-1]

In [9]:
ppd

                                    count
OriginPlayerID DestinationPlayerID
Huskies_M1     Huskies_F2             182
Huskies_M3     Huskies_M1             168
Huskies_M1     Huskies_M3             143
Huskies_D3     Huskies_G1             120
Huskies_F2     Huskies_M1             117
...                                   ...
Huskies_F5     Huskies_F5               1
Huskies_D3     Huskies_M10              1
Huskies_F5     Huskies_D6               1
               Huskies_D3               1
Huskies_M10    Huskies_M11              1

[656 rows x 1 columns]

In [10]:
d0 = ppd.copy()
d0 = pandas.DataFrame({'i': list(map(lambda x: x[0], d0.index)), 'j': list(map(lambda x: x[1], d0.index)), 'count':d0.to_numpy().T[0]})
d1 = d0.copy()
d2 = d0.copy()

In [11]:
d1 = d1.rename(columns={'i':'j', "j":'k'})
d2 = d2.rename(columns={'i':'k', "j":'i'})

In [12]:
pd = pandas

In [13]:
merged_data = pd.merge(pd.merge(d0, d1, on='j'), d2, on='k')
merged_data

,i_x,j,count_x,k,count_y,i_y,count
0,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_F2,182
1,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_M3,143
2,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D1,85
3,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D4,79
4,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_D5,79
...,...,...,...,...,...,...,...
358574,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_M1,3
358575,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_M4,2
358576,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F6,2
358577,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_D1,1
358578,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F5,1

In [107]:
merged_data = merged_data.loc[merged_data['i_x']==merged_data['i_y']]

In [108]:
md0 = merged_data

In [109]:
md0['total'] = md0['count_x'] + md0['count_y'] + md0['count']

In [110]:
md0

,i_x,j,count_x,k,count_y,i_y,count,total
23,Huskies_M1,Huskies_F2,182,Huskies_M1,117,Huskies_M1,7,306
34,Huskies_D5,Huskies_F2,97,Huskies_M1,117,Huskies_D5,79,293
63,Huskies_D4,Huskies_F2,66,Huskies_M1,117,Huskies_D4,79,262
91,Huskies_M3,Huskies_F2,63,Huskies_M1,117,Huskies_M3,143,323
128,Huskies_D2,Huskies_F2,56,Huskies_M1,117,Huskies_D2,63,236
...,...,...,...,...,...,...,...,...
358439,Huskies_M1,Huskies_F5,13,Huskies_D10,1,Huskies_M1,3,17
358447,Huskies_M3,Huskies_F5,12,Huskies_D10,1,Huskies_M3,5,18
358455,Huskies_G1,Huskies_F5,8,Huskies_D10,1,Huskies_G1,6,15
358485,Huskies_M4,Huskies_F5,6,Huskies_D10,1,Huskies_M4,2,9
358578,Huskies_F5,Huskies_F5,1,Huskies_D10,1,Huskies_F5,1,3

In [111]:
md0 = md0.sort_values(by='total').ix[::-1]

In [112]:
players = list(set(d0.i))

players

['Huskies_D4',
 'Huskies_D5',
 'Huskies_M5',
 'Huskies_D7',
 'Huskies_M4',
 'Huskies_F6',
 'Huskies_M6',
 'Huskies_M8',
 'Huskies_M9',
 'Huskies_M12',
 'Huskies_D9',
 'Huskies_F1',
 'Huskies_M3',
 'Huskies_M10',
 'Huskies_F4',
 'Huskies_F3',
 'Huskies_M2',
 'Huskies_G1',
 'Huskies_D10',
 'Huskies_D6',
 'Huskies_M7',
 'Huskies_F2',
 'Huskies_F5',
 'Huskies_D2',
 'Huskies_M13',
 'Huskies_D8',
 'Huskies_D3',
 'Huskies_D1',
 'Huskies_M1',
 'Huskies_M11']

In [113]:
from itertools import permutations

triple = permutations(players,len(players))

In [114]:
# triple = list(triple)

In [115]:
md0 = md0.loc[:, ['i_x', 'j', 'k', 'total']]
md0 = md0.rename(columns={'i_x':'i'})

In [116]:
f = md0.iterrows().__next__()

In [118]:
md0 = md0[::3]

In [119]:
md0

                  i            j           k  total
317285   Huskies_M3   Huskies_M1  Huskies_F2    408
5640     Huskies_F2   Huskies_D5  Huskies_M1    341
4200     Huskies_F2   Huskies_D1  Huskies_M1    329
318091   Huskies_M1   Huskies_M3  Huskies_F2    323
1763     Huskies_M1   Huskies_M3  Huskies_M1    318
...             ...          ...         ...    ...
338921   Huskies_M5   Huskies_M5  Huskies_M5      3
189294   Huskies_D4   Huskies_D7  Huskies_D7      3
180907   Huskies_F3  Huskies_M11  Huskies_D2      3
335185   Huskies_M6   Huskies_G1  Huskies_M5      3
315755  Huskies_M11   Huskies_F4  Huskies_F3      3

[4186 rows x 4 columns]

In [120]:
md = md0.copy()

In [128]:
md[md.total==408]

                 i           j           k  total
317285  Huskies_M3  Huskies_M1  Huskies_F2    408

In [130]:
players

['Huskies_D4',
 'Huskies_D5',
 'Huskies_M5',
 'Huskies_D7',
 'Huskies_M4',
 'Huskies_F6',
 'Huskies_M6',
 'Huskies_M8',
 'Huskies_M9',
 'Huskies_M12',
 'Huskies_D9',
 'Huskies_F1',
 'Huskies_M3',
 'Huskies_M10',
 'Huskies_F4',
 'Huskies_F3',
 'Huskies_M2',
 'Huskies_G1',
 'Huskies_D10',
 'Huskies_D6',
 'Huskies_M7',
 'Huskies_F2',
 'Huskies_F5',
 'Huskies_D2',
 'Huskies_M13',
 'Huskies_D8',
 'Huskies_D3',
 'Huskies_D1',
 'Huskies_M1',
 'Huskies_M11']

In [147]:
result = []

def g(d, a, b):
    return d[d.i==a][d.j==b]

index = 0
for i in players:
    for j in players:
        for k in players:
            if i != j and i != k and j != k:
                index += 1
                if index > 10:
                    break
                total = g(d0,i,j) + g(d0,j,k) + g(d0,k,i) + g(d0,i,k) + g(d0,k,j) + g(d0,j,i)
                result.append((i,j,k,total))

In [140]:
ies = []
jes = []
kes = []
totals = []

for t in result:
    ies.append(t[0])
    jes.append(t[1])
    kes.append(t[2])
    totals.append(t[3])

In [141]:
season_tatoal_data = pandas.DataFrame({'i':ies, 'j':jes, 'k':kes, 'total':total})

ValueError: could not broadcast input array from shape (3) into shape (100)

In [159]:
dir(d0)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'i',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'j',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [177]:
g(d0, 'Huskies_M1', 'Huskies_F2')['count'] + 0
g(d0, i, j)['count'] > 0

Series([], Name: count, dtype: bool)

In [160]:
d0

               i            j  count
0     Huskies_M1   Huskies_F2    182
1     Huskies_M3   Huskies_M1    168
2     Huskies_M1   Huskies_M3    143
3     Huskies_D3   Huskies_G1    120
4     Huskies_F2   Huskies_M1    117
..           ...          ...    ...
651   Huskies_F5   Huskies_F5      1
652   Huskies_D3  Huskies_M10      1
653   Huskies_F5   Huskies_D6      1
654   Huskies_F5   Huskies_D3      1
655  Huskies_M10  Huskies_M11      1

[656 rows x 3 columns]